<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Durak Card Game</title>
	<script src="/socket.io/socket.io.js"></script>
	<script>
		var room = "<%- room -%>";
	</script>
	<script src="/app.js"></script>
</head>
<body>
	room is <%- room -%>
	<br>
	Look at console.
	<div class="control-panel">
	<label> Enter your name
		<input type="text" id="name-input" class="name-input">
	</label>
	<br>
	<label for="message-text"> Enter message </label> <br>
	<textarea name="" id="message-text" cols="30" rows="10" class="message-text"></textarea>
	<button class="send-message">Send message</button>
	</div>
</body>
</html>