body {
    font-family: 'Righteous', cursive;
}
#layout-name {
    background-color: rgba(0, 0, 0, .99);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    color: rgba(255,255,255,.8);
}
#frame, #frame2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#frame {
    width: 40vw;
    height: 60vh;
    margin: auto;
}
#frame2 {
    margin: 15% 10%;
}
#frame h3 {
    font-size: 200%;
    margin: 0;
    padding: 0;
}
#users {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
}
.users {
    list-style-type: none;
    padding: 0 5px;
    margin-top: 5px;
    border: solid black;
}